/.idea
/diabetes.csv
/Diabetes_Prediction_using_Machine_Learning_with_Python.ipynb
/Email
/Getting_Started_with_MNIST.ipynb
/movies.pkl
/Movies_Recommender_System.ipynb
/Recommender_System
/Rock_vs_Mine_Prediction.ipynb
/similarity.pkl
/sonar data.csv
/tmdb_5000_credits.csv
/tmdb_5000_movies.csv
/Welcome.py